/* normal for single */
.Black {
  color: #000;
}

.ChartTitle {
  color: #00d1ff;
  font-weight: 700;
}

.Blue {
  color: #00d1ff;
}

.SubTitleChart {
    background-color: #fff;
    border: 1px solid #39606e;
    /* font-family: "Noto Serif"; */
}

.ChartBor {
  border: 1px solid #00d1ff;
}

.SubTitle6 {
    background-color: #010f13;
    color: #fff;
    font-size: 1.25rem;
    /* font-family: "Noto Serif"; */
}

.SubTitle6 p {
    color: #fff;
    font-size: 1.25rem;
}

.Small {
  font-size: .75rem;
  font-style: italic;
}

.SmallInfo {
  font-size: .75rem;
  color: #1da3aa;
  color: #0c414f;
  cursor: pointer;
}

.SmallSize {
  font-size: .75rem !important;
  color: #1da3aa;
  font-style: italic;
}

.InfoText {
  color: #17748e;
}

.InfoTextI {
  color: #17748e;
  font-style: italic;
}

.BoldScene {
  color: rgba(129, 102, 21, 0.99);
}

.InputBar {
  background: #ffffff;
  border: 1px solid #e0e3eb;
  box-sizing: border-box;
  height: 30px !important;
  border-radius: 20px;
  color: #242a3d;
  padding-left: 40px;
  margin-bottom: 16px;
} 

.BreakTitle {
  border-top: 10px solid #e8f0f1;
}

.Top {
    background-color: #1ea7ae;
    background-color: #39606e;
    color: #fff;
  }

.TopCompany {
    color: #fff;
    font-style: italic;
}

.TopName {
    color: #37f1fa;
    color: #abb8be;
}

.TopName2 {
    color: #37f1fa;
    color: #fff;
}

.Top i {
    color: #fff;
}

.ProTop {
    background-color: #3b444b;
    color: #fff;
}

/* .ProTop i {
    color: #666; 
} */

.ProTop i {
  color: #9b4242;
  font-size: 1em !important;
}

.ProTop i:hover {
  color: #ef5151;
  font-size: 1em !important;
}

.Avatar {
    border-radius: 50%;
    margin: 0px 8px 0px 8px;
    object-fit: cover;
  }

.Box5 {
  margin-top: 3px;
  margin-bottom: 0;
  width: 100%;
  border: 1px solid #d0d9db;
  background: #fff;
  box-sizing: border-box;
  border-radius: 2px;
  color: #7177a1;
  padding: 2px 10px;
  height: 20px !important;
  text-align: center;
  color: #000;
  font-weight: 700;
}

.Box7 {
  margin-top: 3px;
  margin-bottom: 0;
  width: 100%;
  border: 1px solid #d0d9db;
  background-color: #e9ecef;
  box-sizing: border-box;
  border-radius: 2px;
  color: #7177a1;
  padding: 2px 10px;
  height: 20px !important;
  text-align: center;
  color: #000;
  font-weight: 700;
}

.Box7 p {
  margin-top: 2px !important;
}

.Box5 p {
  margin-top: 2px !important;
}

.Box4 p {
  margin-top: 3px !important;
}

.Box3 p {
  margin-top: 3px !important;
}

.Box p {
  margin-top: 3px !important;
}

.Box2 p {
  margin-top: 3px !important;
}

/* total */
.Box3 {
  margin-top: 3px;
  margin-bottom: 3px;
  border: 1px solid #d0d9db;
  background: #e9ecef;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 0px 10px;
  height: 20px !important;
  text-align: center;
  color: #000;
  font-weight: 700;
}

/* normal for treble */
.Box {
  margin-top: 3px;
  border: 1px solid #d0d9db;
  width: 100%;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 0px 10px;
  height: 20px !important;
  text-align: center;
  color: #000;
  font-weight: 700;
  margin-bottom: 0;
}

/* total for treble */
.Box2 {
  margin-top: 3px;
  margin-bottom: 0;
  border: 1px solid #d0d9db;
  background: #e9ecef;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 0px 10px;
  height: 20px !important;
  text-align: center;
  color: #000;
  font-weight: 700;
}

/* end total for treble */
.Box4 {
  margin-top: 3px;
  margin-bottom: 3px;
  border: 1px solid #d0d9db;
  background: #e9ecef;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 0px 10px;
  height: 20px !important;
  text-align: center;
  color: #000;
  font-weight: 700;
}

.WhiteBack {
  background-color: #fff;
}

.BlackBack {
  background-color: #000;
  color: #fff;
}

.BlackBack p {
  color: #fff;
}

.Underline {
  font-weight: 700;
  color: #000;
  margin-bottom: 0px;
  margin-top: 0px;
}

.Underline7 {
  margin-bottom: 0px;
  margin-top: 0px;
  color: #000;
  font-weight: 400;
}

.Underline6 {
  margin-bottom: 2px;
  margin-top: 2px;
  font-weight: 500;
  color: #000;
}

.Underline2 {
  /* border-bottom: 1px solid rgb(168, 250, 250); */
  border-bottom: 1px solid #d0d9db;
}

.Underline3 {
  /* border-bottom: 2px solid rgb(168, 250, 250); */
  border-bottom: 2px solid #d0d9db;
}

.BoldBlack {
  font-weight: 700;
  color: #000;
  margin-bottom: 0;
}

.BoldBlackU {
  font-weight: 700;
  color: #000;
  border-bottom: 1px solid #d0d9db;
}

.RightBorder {
  border-right: 5px solid #d0d9db;
}

.BorderRightLeft {
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
}
.BorderRight {
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
}

.ButtonLine {
  background-color: #fff;
  border-top: 3px solid #fff;
}

.ButtonLine p {
  font-weight: 600;
}

.Button {
  color: rgb(9, 210, 241);
  cursor: pointer;
}

.Button:hover {
  color: rgb(41, 119, 119);
}

.Close {
  cursor: pointer;
  color: #33e6e0;
  font-size: .75rem;
}

/* .Close {
  color: rgb(32, 201, 201);
  padding-right: 5px;
  cursor: pointer;
  font-size: .75rem;
} */

.BudgetLink {
    background-color: #33e6e0;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.Edit {
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.Overview {   
    background-color: #e8f0f1;
}

.Overview p {
    color: #000;
    font-weight: 700;
    margin-bottom: 0px;
}

.Bold {
    font-weight: 700;
    margin-bottom: 0px;
}

.ImagesIndex {
    object-fit: cover; 
    /* height: 150px;
    width: 100%; */
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

/* .Input {
    background: #ffffff;
    border: 1px solid #e0e2ef;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 0px 10px;
    height: 28px !important;
    text-align: center;
    color: #000;
    font-weight: 700;
} */

.Input {
  background: #ffffff;
  border: 1px solid #e0e3eb;
  box-sizing: border-box;
  border-radius: 2px;
  color: #747686;
  padding: 0px 10px;
  height: 30px !important;
  text-align: center;
  color: #3d3d3e;
}

.Input1 {
  background: #ffffff;
  /* border: 1px solid #f0f1f9; */
  border: 1px solid #e0e2ef;
  box-sizing: border-box;
  border-radius: 2px;
  /* color: #7177a1; */
  color: #747686;
  color: #3d3d3e;
  padding: 0px 10px;
  height: 20px !important;
  text-align: center;
  font-weight: 700;
}

.SubTitle {
    background-color: #e8f0f1;
    font-weight: 700;
}

.SubTitle4 {
  background-color: #e8f0f1;
  font-weight: 700;
  color: #000;
}
  
.SubTitle2   {
  background-color: #d6fcff;
  font-weight: 700;
}

.SubTitle77   {
  background-color: #e5fafb;
  font-weight: 700;
}

.SubTitle3 {
  background-color: #e4f2f4;
  font-weight: 700;
}

.TopSheet {
  background-color: #fff;
}

  .SubTitleAbove {
    background-color: #e4f2f4;
    font-weight: 700;
  }

  .OverviewBlue {
    background-color: #e4f2f4;
  }

  .Break {
    border-top: 10px solid #d0d9db;
  }

  .Break1 {
    border-top: 1px solid #d0d9db;
  }

  .Break3 {
    border-top: 1px solid #d0d9db;
  }

  .BreakAbove {
    border-top: 15px solid #d0d9db;
  }

/* .Width100 {

} */

.BorderRightLeftBottom {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 600px) {
  .Icon i {
    font-size: 1rem;
  }

  .InputBar {
    height: 20px !important;
    font-size: .75rem !important;
  }
}