.HomeBox {
    background-color: #c7e7f1;
    width: 100%; 
  }

  .BlueBody {
    font-weight: 700;
    color: #000;
}

.BlueBody h4 {
    font-weight: 500;
    color: #000;
    color: #fff;
}

.Overview {   
    background-color: #fff;
}

.FeatureBox1 {
    background-color: #c1f1f7;
    background-color: #911f83;
    padding: 20px;
}

.FeatureBoxM {
    background-color: #c1f1f7;
    background-color: #911f83;
    padding: 8px 10px 2px 10px;
}

hr {
  border-top: 1px solid #dbf2f5;
}

.Five {
    border-top: 10px solid #dbf2f5;
}

.CardBorder {
    border: 1px solid #dddada;
}

.HomeBoxMo {
background-color: #11262d;
width: 100%; 
}

p { 
    color: #000;
}

h1, h2, h3, h4, h5 { 
    color: #666;
} 

.Find {
    font-weight: 400;
    color: #0a4e47;
}

.PinkBody {
    background-color: rgb(253, 249, 253);
}

.WhiteBody {
    background-color: rgb(226, 246, 246);
}

.FeatureLink:hover {
    background-color: #3b444b;
    color: #fafafa;
    cursor: pointer;
}

.FeatureLink:hover h4 {
    color: #fafafa;
}

.FeatureLink:hover p {
    color: #fafafa;
}

.FeatureLink:hover .FeaturesImage {
    border-radius: 25%;
}
  
.Image {
    height: 130px;
    max-width: 100%;
    object-fit: contain;
}

.FeatureImage {
    max-height: 400px;
    max-width: 100%;
    object-fit: contain;
    border: 1px solid #a3c0ce;
    padding: 5px;
}

.Bold {
    font-weight: 700;
  }

.Inner {
    background-color: #0b3d63;
    color: #fafafa;
}

.FillerImagel {
  object-fit: cover;
  height: 350px;
  width: 5px;
} 

/* .FillerImagel {
    object-fit: cover;
    height: 90%;
    width: 90%;
} */

.FillerImager {
    object-fit: contain;
    height: 270px;
    width: 40px;
    margin-top: 30px;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.Header {
    text-align: center;
    color: #fff;
}

.Depts {
    color: rgb(170, 248, 248);
}

.Depts:hover {
    cursor: pointer;
    color: rgb(238, 242, 242);
}

hr.LineWhite {
    border-top: 2px solid #fff ;
    width: 70%
}

.Creative {
    color: #fff;
}

.Creative a {
    color: #fff;
}

.BoldScene {
  color: rgba(129, 102, 21, 0.99);
  font-weight: 600;
}

.Container {
padding: 30px 10px;
}

.Blacktop {
    background-color: #000;
    color: #fff;
}

.SubTitle {
  background-color: #e8f0f1;
  font-weight: 700;
  color: #000;
}

.SignInCol {
height: 320px;
}

.SignUpCol {
height: 375px;
}

.Link {
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
    color: antiquewhite;
}

.Link span {
color: rgb(170 231 255);
}

@media screen and (max-width:768px) {
    .HomeBox {
        height: 100vh;
    }
}