.Container {
    background-color: #353839;
    margin: 0;
    width: 100vh;  
}
.RegBox {
    background-color: #353839;
    background-color: #000;
    margin: 0;  
    width: 100%; 
}

.RegBoxSign {
    background-color: #353839;
    margin: 0;  
    width: 100%; 
    background-color: #000;
}

.Longboxl {
    font-family: "Playfair";
    color: rgb(255, 6, 6);
    margin-top: 30px;
}

.Longboxr {
    font-family: "Playfair";
    color: rgb(255, 6, 6);
    margin-top: 10px;
}

.Longboxl p {
    color: rgb(255, 6, 6);
    margin-bottom: 0;
}

.Longboxr p {
    color: rgb(255, 6, 6);
    margin-bottom: 0;
}

.Shot {
    color: #F5F5F5;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    font-family: "Cinzel";
}

.TitleT {
    color: #00d1ff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    font-family: "Cinzel";
    border-bottom: 1px solid #c1f1f7;
}

.Titlebox {
    background-color: #3b444b;
	margin-bottom: 15px;
	margin-top: 15px;
    height: 120px;
}

/* .SmallPanel {
    height: 120px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
} */

 .SmallPanel {
    height: 100%;
    width: 5px;
    object-fit: cover;
    height: 120px;
}

.PadLeft1 {
    padding-left: 10px;
}

.Door {
    height: 100%;
}

.Title {
    color: #F5F5F5;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}

.Title2 {
    color: #F5F5F5;
}

.Title3 {
    color: #F5F5F5;
}

@media screen and (max-width: 600px) {
    /* .Title {
        font-size: 1.50em;
    }
    .Title2 {
        font-size: 1.50em;
    } */

    .Title3 {
        font-size: 1.25em;
    }
}

@media screen and (max-width: 400px) {
    .Title3 {
        font-size: 1em;
    }

    .Title {
        font-size: 1.50em;
    }

    .Title2 {
        font-size: 1.25em;
    }
}

@media screen and (max-width: 360px) {
    .Longboxl {
        margin-left: 25px;
    }
}